head
  title= appName+' - '+title
  meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
  meta(name="keywords", content="node.js, express, mongoose, wowza, wowza media serer")
  meta(name="description", content="A monitor for Wowza Media Server")
  link(rel='stylesheet', href='/stylesheets/main.css')
